.spin-bigger {
  width: 3rem !important;
  height: 3rem !important;
}
.user {
  background-color: var(--orange-100);
  border-radius: 5rem;
  text-align: center;
  margin-top: auto;
  font-size: 2rem;
  line-height: 3rem;
  padding: 0.5rem;
}
.tamsus {
  background-color: var(--orange-100) !important;
}
.labai-tamsus {
  background-color: var(--teal-100) !important;
  color: var(--orange-100) !important;
}
