.nav-container {
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-bg);
  color: var(--light-font);
  margin-bottom: 2rem;
  h1 {
    font-size: 2rem;
    padding: 1rem 0;
    min-width: 30%;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    li,
    a {
      text-decoration: none;
      color: var(--light-font);
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
        color: var(--orange-100);
      }
      &:active,
      &.active {
        color: var(--orange-300);
      }
      .my-badge {
        padding: 0 0.5rem;
        margin-left: 0.3rem;
        border-radius: 20%;
      }
      .basket-icon {
        font-size: 1.5rem;
      }
    }
  }
}
