:root {
  --dark-bg: #06171e;
  --light-font: #f4f4f4;
  --orange-100: #ffb337;
  --orange-300: #fd9e03;
  --orange-500: #fd7d01;
  --teal-100: #005352;
  --teal-300: #113e3c;
  --teal-grey: #b6e6e6;
  --card-width: 20rem;
  --card-gap: 2rem;
  --card-padding: 2rem;
  --warning: #ff5500d0;
  --ok: #177414d0;
}
